
/* Tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Corpo da pagina */
body {
    background-color: #d8cece;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contem o form dentro */
div {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
/* Titulo */
h2 {
    margin-bottom: 20px;
    color: #333;
}
/* Formulario de cadastro e login */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 10px 0 5px;
    color: #555;
    font-size: 14px;
}

/* Entrada de dados e tipo select */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus, select:focus {
    outline: none;
    border-color: #442963;
}
.option

/* Botões */
button {
    width: 100%;
    padding: 10px;
    background-color: #9644d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #442963;
}

/* Links */
a {
    display: block;
    margin-top: 15px;
    color: #442963;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
